.container-fluid{
    max-width: 900px;
    margin: 20px auto;
}

.jumbotron h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.jumbotron p {
    font-size: 16px;
}

.list-group-item {
    margin: 5px auto;
}

.list-group {
    margin: 10px auto;
}

#search-buttons {
    margin-top: 10px;
}

hr {
    border-top: 1px solid #3c3c3c;
}